<style>
  .heading {
  text-align: center;
  text-decoration: overline;
  background-color: #CCFF33;
  color: #003366;
  border-radius: 25px;
  font-family: 'Archivo Black', sans-serif;
  margin-top: 50px;
  font-size: 50px;
}

.subhead {
  text-align: center;
}

.desc {
  text-align: center;
  color: #ffffff;
  background-color: #FF0080;
  border-radius: 25px;
  width: 600px;
  height: 100px;
  margin: 0 auto;
  font-size:
}

.links {
  text-align: center;
  color: #e9e9e9;
  margin-top: 30px;
  font-size: 20px;
}

span.crosshair {
    cursor: crosshair;
}

div {
  background-color: #ccff33;
}
</style>


<link href="https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet">

<div>
<div class="heading">
  <h1>Travel Buddies</h1>
</div>

<div class="subhead">
  <h2>[welcome, adventure lovers, site see-ers, planners, doers, do-gooders and
    lovers of learning!]</h2>
</div>

<div class="desc">
  <h4>Travel Buddies unite! Welcome to the Travel Buddies app! Sign up, build your profile,
  and create, post, and share your bucket list items with other travelers.
  It's your own interactive, user friendly travel blog where you can request other members as
  Travel Buddies, and help each other check off bucket list items!</h4>
</div>

<div class="links">
  <%= link_to "My Travel Experiences", articles_path %>
</div>
</div>
